.search-main{
  background-image: url("top.jpg");
  background-size: cover;
  overflow: scroll;
  height: 100vh;
  &__box{
    display: flex;
    justify-content: space-between;
    &--title{
      font-size: 30px;
      text-align: center;
      font-family: monospace;
      background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
  }
  
}